
body {
  background-color: #09021d;
  margin: 0;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

img {
  max-width: 100%;
}


header {
  background: rgb(9, 2, 29);
  background: linear-gradient(
    180deg,
    rgba(9, 2, 29, 1) 0%,
    rgba(9, 2, 29, 0) 100%
  );
  position: fixed;
  width: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
  z-index: 3; 
}

header nav a {
  color: #fff;
  margin: 0 1rem 0 0;
  text-decoration: none;
}

header nav a:hover {
  color: #d15f44;
}

main {
  padding-top: 4.5rem;
}


.headline {
  position: relative;
  width: calc(100vw - 1rem);
  height: 80vh;
  overflow: hidden;
  padding: 0;
  margin: 0.5rem;
}


.rover {
  width: 20rem;
  height: 20rem;
  position: absolute;
  display: block;
  bottom: 10.5rem;
  left: 10%;
  z-index: 1; 
  animation: drive 15s ease-in-out 1s infinite alternate;
}

.rover img {
  width: 100%;
  height: auto;
}


.rover::after {
  content: url("images/dish.svg"); 
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 2.25rem;
  top: 1.6rem;
  z-index: 1;
  transform-origin: center bottom;
  animation: rotate 2s linear infinite alternate;
}


.planet {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 30%;
  bottom: 0;
  animation: rise 10s ease-in 1 forwards;
}


.mars {
  position: absolute;
  width: 100%;
  height: 10.5rem;
  background-color: #913a25;
  border-top: 1rem solid #d15f44;
  bottom: 0;
  z-index: 2;
}

.mars h1 {
  margin-left: 5rem;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 2rem;
}


section {
  padding: 1rem;
}

h2 {
  color: #d15f44;
  margin-top: 5rem;
}


.robots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.robots figure {
  justify-self: center;
  text-align: center;
}


iframe {
  display: block;
  margin: 1rem auto 3rem;
  max-width: 100%;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
}


.grid hr {
  grid-area: 1 / 2 / 10 / 3;
  border: none;
  border-left: 2px solid #d15f44;
  margin: 0;
}

.grid p {
  margin: 1rem;
}

.grid h3 {
  margin: 1rem;
  justify-self: right;
}


.maps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


figcaption,
h3 {
  transition: color 0.2s ease-in-out;
}

figcaption:hover,
h3:hover {
  color: #d15f44;
}


@keyframes rise {
  from {
    bottom: 0;
    transform: rotate(0deg) scale(1);
  }
  to {
    bottom: 75%;
    transform: rotate(180deg) scale(2);
  }
}

@keyframes rotate {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(-33deg);
  }
}

@keyframes drive {
  from {
    left: 5%;
    bottom: 10.5rem;
  }
  to {
    left: 60%;
    bottom: 12rem;
  }
}


@media (min-width: 600px) {
  section {
    padding: 1rem 5rem;
  }
}
