body {
    background-color: rgb(6, 6, 56);
    color: rgb(255, 255, 255);
    font-family: "Courier New", Courier, monospace;
    margin: 0;
}
main {
    padding: 1rem;
}

header {
    background-color: rgb(25, 64, 100);
    padding: 2rem;
    text-align: center;
}

header a {
    color: rgb(66, 211, 221);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 .5rem;
}

img {
    max-width: 100%;
}

.home-content div {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.home-content img {
    display: inline-block;
    width: 38%;
    vertical-align: top;
    margin-left: 1%;
}

.jellies, .whales, .creatures {
    background-color: rgb(19, 107, 114);
    display: inline-block;
    padding: 1rem;
    margin: .5rem;
    vertical-align: top;
}

.jellies { width: 29%; }
.whales { width: 46%; }
.creatures { width: 29%; }
