
body {
  background-color: #330202;
  color: #fff;
  font-family: 'EB Garamond', serif;
  margin: 0;
}

h1,
h2 {
  font-family: 'Cinzel Decorative', cursive;
  color: #d9ba6c;
}


header {
  background-color: #161d2d;
  padding: 1rem;
}

nav > a {
  color: #d9ba6c;
  border: 1px solid #d9ba6c;
  text-decoration: none;
  padding: 1rem;
  font-weight: 800;
  display: inline-block;
  margin: 1rem 1rem 1rem 0;
}

nav > a:hover {
  border-color: transparent;
  background-color: #d9ba6c;
  color: #161d2d;
}


.sidenav {
  background-color: #374a76;
  padding: 0.5rem 1rem;
}

.sidenav > a {
  background-color: #fae2c0;
  color: #0f0f0f;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
  text-decoration: none;
}

.sidenav > a:hover {
  opacity: 0.8;
}


main {
  padding: 1rem;
}

section {
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #d9ba6c;
}


.title {
  margin: 0;
  padding: 2rem 1rem;
  background-color: #5f1818;
  border: none;
  display: block;
}

h4 {
  margin: 0;
}


section {
  display: grid;
  grid-template-columns: 12rem 1fr;
  column-gap: 1rem;
}

section:nth-child(2) {
  display: block;
}

section > img {
  max-height: 10rem;
}


section > img {
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

section > h3 {
  grid-row: 1;
  grid-column: 2;
}

section > h4 {
  grid-row: 2;
  grid-column: 2;
}

section > p {
  grid-row: 3;
  grid-column: 2;
}

section.title {
  display: block;
}

.ragnarok section:nth-child(5) {
  display: block;
}

.ragnarok section {
}


@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .title {
    grid-column: 1 / -1;
  }

  main > section:nth-child(2) {
    grid-column: 1 / -1;
  }

  .ragnarok {
    display: block;
  }
}

@media (min-width: 1100px) {
  body {
    display: grid;
    grid-template-columns: 20rem auto;
  }

  header {
    grid-column: 1 / 3;
    grid-row: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }

  .sidenav {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  main {
    grid-column: 2 / 3;
    grid-row: 2;
  }

  .sidenav > a {
    display: block;
    text-align: right;
  }
}
