
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-image: linear-gradient(#fff9c4, #ffe066, #ffeb3b);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #ffeb3b;
  padding: 1rem;
  border-bottom: 6px solid #000;   
}

header h1 {
  margin: 0;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav {
  margin-top: 0.5rem;
}

nav a {
  margin-right: 1rem;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  transition: 0.2s;
}

nav a:link,
nav a:visited {
  color: #000;
}

nav a:hover {
  color: #ffeb3b;
  background-color: #000;
}

nav a:active {
  background-color: #222;
  color: #ffeb3b;
}

main {
  max-width: 900px;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background-color: rgba(255, 255, 204, 0.9);  /
  border: 2px solid #000;
  border-radius: 10px;
}


h2, h3 {
  color: #000;
  border-left: 6px solid #000;
  padding-left: 10px;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1rem 0;
  border: 4px solid #000;      
  border-radius: 6px;
}


.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 4px solid #000;
  border-radius: 6px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

